<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>ff bet</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="main-container">
        <p class="ff-bet">FF BET</p>
      <div class="sub-main-container">
            <% if(matchAppliedorcanceled) { %>
                <div class="homenotification">
                    <div class="matchApplied-succes-notification-bar" id="matchApplied-succes-notification-bar">
                        <p id="matchAppliedorcanceledValue"><%= matchAppliedorcanceled %></p>
                   </div>
                </div>
            <% } %>   
            
            <p class="match-trmnt">MATCHS & TOURNMENTS</p>
            <% mainMatchContainer.forEach(mainMatchContainer => { %>
                <% mainMatchContainer.matchFullDetails.forEach(match => { %>
                    <div class="match-details-container">     
                        <div class="firstprize-matchmodel">
                            <p class="first-prize">1st prize ₹<%= match.firstPrice %></p>
                            <!-- <input type="text" name="matchType" value="1st Pirce ₹<%= match.firstPrice%>" readonly> -->
                            <input type="text" name="matchType" value="<%= match.matchType %>" readonly>
                        </div>
                        <div class="prize-entry">
                            <p>Prize Pool</p>
                            <p>Entry Amount</p>
                        </div>
                        <div class="prizeamt-entryamt">
                            <p style="color: rgb(5, 92, 5);">₹<%= match.firstPrice %></p>
                            <form class="prize-form-container" id="paymentpage-submit-btn" action="/payment" method="post">
                                <input type="hidden" name="matchType" value="<%= match.matchType %>" readonly>
                                <input type="hidden" name="matchStartingTime" value="<%= match.matchStartingTime %>">
                                <input type="hidden" name="MDmatchId" value="<%= match._id %>" readonly>
                                <input type="submit" class="entryamount-btn" name="entryAmount" value="₹<%= match.entryAmount %>">
                            </form>
                        </div>
                        <div class="participants-counts">
                            <div>
                                <p>Total Participants</p>
                            </div>
                            <div>
                                <span id="registered-payer"><%= match.appliedPlayerList.length %></span>/
                                <span id="posible-player"><%= match.totalParticipantPlayerNumber %></span>
                            </div>
                        </div>
                        <div class="Player-details-container">
                            <form class="Player-details-form-container" action="/playerdetails" method="post">
                                <input type="hidden" name="MDmatchId" value="<%= match._id %>" readonly>
                                <input type="submit" value="Player Details">
                                <p>Time: <%= match.matchStartingTime %></p> 
                            </form>
                        </div>
                        <div class="footer-container">
                            <p>1st prize ₹<%= match.firstPrice %></p>
                            <div class="guaranteed-container">
                                <p>You Are Not In Team</p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% }) %>

        </div>
    </div>

 



    <script src="/js/home.js"></script>
</body>
</html>